@charset "UTF-8";

body {
  font-color: #333333;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: normal;
}
h1 {
  color: #a52a2a;
  font-size: 26pt;
  font-family: Georgia, Times, serif;
  font-weight: normal;
}
h2 {
  color: #a52a2a;
  font-size: 20pt;
  font-family: Georgia, Times, serif;
  font-weight: normal;
}
h3 {
  color: #a52a2a;
  font-size: 16pt;
  font-family: Georgia, Times, serif;
  font-weight: normal;
}
a {
  color: #666666;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: normal;
}
a.add {
  color: #0080ff;
}
a.edit {
  color: #ff8000; 
}
a.delete {
  color: #ff0000;
}

.del {
     background:none!important;
     color:#ff0000;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #ff0000; 
     cursor: pointer;
}

.header {
    background-color: #E0E0E0; 
    height: 55px; 
    padding: 5px;
}

.menu {
    padding: 5px;
}

.footer {
  background-color: #E0E0E0; 
  text-align: center; 
  padding: 5px; 
  margin-top: 10px;  
} 
